.title-primary {
    font-size: 1.6rem;
}
.title-l {
    font-size: 2rem;
}
.title-lg {
    font-size: 2.5rem;
}

#navbar {
    flex-direction: column;
    align-items: center;
    & .logo {
    }
    & ul {
        display: block;
        flex-flow: column;
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        left: 0;
        top: -450px;
        width: 100%;
        padding: 0;
        animation: navbar-move-reverse .4s 1; /*animation 时间 播放次数*/
        & li {
            display: inline-block;
            height: 3rem;
            border-bottom: 1px solid #a7a6a6;
            width: 100%;
            & a {
                display: inline-block;
                width: 100%;
                line-height: 3rem;
                text-align: center;
                margin: 0;
                padding: 0;
                &:hover {
                    border-radius: 0;
                }
            }
        }
    }
    &:hover {
        border-bottom: 1px solid #a7a6a6;
        ul {
            animation: navbar-move .4s 1; /*animation 时间 播放次数*/
            top: 4.2rem;
        }
    }

}

#contact {
    & .contact-form {
        flex: 1;
        padding: 2rem 4rem;
    }
    & .contact-img {
        display: none;
    }
}

#friends {
    & .friend-items {
        & .friend-box {
            &:hover {
                span {
                    display: none;
                }
            }
        }
    }
}

#main-footer {
    padding: 1rem;
    & .footer-icon {
        right: 10%;
    }
}



@media screen and (max-width: 500px) {
    .container {
        padding: 2rem 0;
        overflow: visible;
    }
    #what {
        & .items {
            padding: 0;
        }
    }
    #partners {
        & .partners-items {
            & .partners-img, .partners-info {
                padding: 2rem 1rem;
            }
        }
    }
    #friends {
        & .frined-items {
            padding-left: 0;
            & .friend-box {
                margin-bottom: 1.5rem;
            }
        }
    }
    #contact {
        & .contact-form, .contact-img {
            padding: 2rem 1rem;
        }
    }
    .wechat-layer {
        right: 20px;
    }
    #main-footer {
        & .footer-icon {
            right: 0;
        }
    }
}
